@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {

    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.899) inset !important;
}
body{
  margin: none;
  padding:none;
  width: 100%;
  min-height: 100vh;
}
.parent-container{
  height: 100vh;
  background: rgba(8, 8, 11, 0.99);
  box-shadow: 10px 4px 10px rgba(255, 255, 255, 0.01);
  display: grid;
  grid-template-rows: 10vh 35vh 55vh; 
  grid-template-columns: 133vh 1fr;
}
.i-1{
  grid-row: 1/2;
}
.i-2{
  grid-row: 2/3;
  display: grid;
  width: 133.9vh;
  grid-template-rows: 6vh 35vh;
}

.i-3{
  grid-row: 3/4;
}
.logo{
position: absolute;
width: 83.72px;
height: 100px;
left: 30px;
top: 8px;
}
.h-1{
margin:none;
padding:none;
position: absolute;
width: 266px;
height: 71px;
left: 68px;
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 48px;
color: #FFFFFF;
}
.calander-area{
  grid-row: 1/-1;
  grid-column: 2/3; 
  height: 100vh;
  background-color:black;
  width: 60vh;
  justify-self:end;
  display: grid;
  grid-template-rows: 80px 40px 45vh 80px 80px 40px 1fr;
  grid-template-columns: 1fr;
}
.overview{
position: absolute;
left: 400px;
top: 20px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.5em;
color: #FFFFFF;
cursor: pointer;
border-bottom: 3px solid #D89E5A;
}
.details{
position: absolute;
left: 600px;
top: 20px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.5em;
color: #FFFFFF;
cursor: pointer;
}
.search-bar{
  position: absolute;
width: 26vw;
height: 55px;
left: 41vw;
top: 1.6vw;
background: rgba(255, 255, 255, 0.03);
border-radius: 30px;
}
.input{
  width: 410px;
  background-color: transparent;
  outline: none;
  border:none;
  font-size: 1.5em;
  height: 55px;
  margin-left: 30px;
  color: white;
}

.search-button{
background-color: transparent;
outline: none;
border:none;
}
.search-img{
  color: white;
  background-color: transparent;
}
.stats{
  color: white;
  position: absolute;
width: 266px;
height: 71px;
left: 66px;
top: 433px;

font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 48px;
}

.s-1{
  position: absolute;
width: 700px;
height: 349px;
left: 65px;
top: 550px;

background: rgba(255, 255, 255, 0.04);
border-radius: 29px;
}
.s-2{
  position: absolute;
width: 400px;
height: 176px;
left: 800px;
top: 550px;

background: #141417;
border-radius: 20px;

}
.s-3{
    position: absolute;
width: 400px;
height: 162px;
left: 800px;
top: 740px;

background: #141417;
border-radius: 20px;
}
.create{
color: white;
width: 260px;
height: 50px;
font-family: Nunito;
font-style: normal;
font-weight: 100;
font-size: 40px;
line-height: 41px;
grid-row: 1/2;
margin-left: 32px;
margin-top: 0px;
margin-bottom: 0px;
align-self: center;
grid-column: 1/2;
margin-top: 8px;
}
.create-1{
width: 260px;
height: 50px;
font-family: Nunito;
font-style: normal;
font-weight: 200;
font-size: 30px;
color: #FFFFFF;
grid-row: 2/3;
margin:0px;
margin-left: 32px;
align-self: center;
}
.logimage{
  grid-row: 1/2;
  align-self: center;
  grid-column: 1/2;
  justify-self:end;
  margin-right: 20px;
}
.bar-1{
  grid-row: 4/5;
  background-color: black;
  outline: none;
  border: solid 2px #D89E5A;
  font-size: 2em;
  box-sizing: border-box;
  border-radius: 50px;
  height: 6vh;
  width: 50vh;
  align-self: start;
  justify-self:center;
}
.duration{
   background-color: black;
  outline: none;
  border: none;
  color: white;
  box-sizing: border-box;
  height: 4vh;
  margin-left: 30px;
  font-size: 0.8em;
  margin-top: 9px;
  width: 45vh;
}.bar-2{
  grid-row: 5/6;
  background-color: black;
  outline: none;
  border: solid 2px #D89E5A;
  font-size: 2em;
  box-sizing: border-box;
  border-radius: 50px;
  height: 6vh;
  width: 50vh;
  align-self: start;
 justify-self:center;
}
.title{
   background-color: black;
  outline: none;
  border: none;
  color: white;
  box-sizing: border-box;
  height: 4vh;
  margin-left: 30px;
  font-size: 0.8em;
  margin-top: 9px;
  width: 45vh;
}
.field{
width: 295px;
height: 40px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 34px;
color: #D89E5A;
grid-row: 6/7;
align-self: start;
justify-self:center;
margin:0px;
margin-left: 25px;
}
.create-button{

background: #DA9355;
border-radius: 30px;
grid-row: 7/8;
height: 70px;
width: 180px;
color: white;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 34px;
color: #FFFFFF;
outline: none;
justify-self:center;
margin-top: 30px;
}
.calander{
  grid-row: 3/4;
  align-self: start;
    margin-left: 20px;
}
.rdrCalendarWrapper{
  background-color: transparent !important;
    height: 40vh;
    width: 50vh;
} 
.rdrDateDisplayWrapper{
  display: none;
}
.rdrMonthAndYearWrapper{
  width: 12vh;
  margin-left: 8px;
  height: 5vh!important;
}
.rdrNextPrevButton{
  display: none!important;
}
.rdrInRange{
  color: rgba(216,158,90,0.47) !important;
  height: 3vh;
}
.rdrStartEdge{
  color:#DA9355!important;
  height: 3vh;
}
.rdrEndEdge{
  color: #DA9355!important;
  height: 3vh;
}
span{
  color: white!important;
  font-size: 1.5em;
  border:none!important;
}
.rdrMonthPicker{
  width: 7vh;
  margin:0px!important;
  padding:0px !important;
}
.rdrYearPicker{
  color: white!important;
  width: 5vh;
  margin-left: 70px!important;
  padding:0px !important;
}
select{
  color: white!important;
  font-size: 1em;
}
select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: black;
   
}
.rdrMonths{
         height: 30vh;
  }
.rdrMonth{
  height: 30vh;
  padding:0px !important;
}
.rdrWeekDays{
  width: 50vh;
  height: 7vh;
  font-size: 1.5em;
}
.rdrDays{
  width: 50vh;
  height: 30vh;
}
.rdrDayToday .rdrDayNumber span:after {
    content: none!important;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background: #3d91ff;
}
.i-4{
  display: grid;
  grid-template-rows: 30vh 1fr;
  grid-row: 2/4;
}
.h-i-1{
  color: white;
  margin: 0px;
  padding: 0px;
font-family: Nunito;
font-style: normal;
font-weight: 100;
font-size: 2.5em;
line-height: 48px;
margin-top: 40px;
margin-left: 70px;
grid-row: 1/2;
grid-column: 1/2;
}
.table{
   background-color:rgba(255, 255, 255, 0.03);
  grid-row: 1/3;
  grid-column: 1/2;
  height: 70vh;
  align-self: center;
  width: 123vh;
  border-radius: 50px;
  justify-self:center;
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}
.headings{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row: 1/2;
  
}
.h-p{
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 34px;
color: #D89E5A;
justify-self:center;
}
.row{
  background-color:rgba(255, 255, 255, 0.03);
  display: grid;
    grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.uselessrow{
  background-color: rgba(255, 255, 255, 0.001);
}
.info{
  font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 34px;
color: #D89E5A;
justify-self:center;
}
.login-container{
background: url("logoband.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: black;
height: 100vh;
}
.logo1{
  position: absolute;
width: 520px;
height: 201px;
left: 680px;
top: 100px;
}
.search-bar-email{
position: absolute;
height: 7vh;
width: 70vh;
left: 620px;
top: 320px;
background: radial-gradient(103.38% 6554.13% at 0% 15.63%, rgba(255, 255, 255, 0.069) 0%, rgba(255, 255, 255, 0.039) 100%);
backdrop-filter: blur(15px);
}
.input-email{
height: 7vh;
width: 60vh;
margin-left: 30px;
background-color: transparent;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
outline: none;
border:none;
color: white;
}

.search-bar-password{
position: absolute;
height: 7vh;
width: 70vh;
left: 620px;
top: 430px;
background: radial-gradient(103.38% 6554.13% at 0% 15.63%, rgba(255, 255, 255, 0.069) 0%, rgba(255, 255, 255, 0.039) 100%);
backdrop-filter: blur(15px);
}
.input-password{
height: 7vh;
width: 60vh;
margin-left: 30px;
background-color: transparent;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
outline: none;
border:none;
color: white;
}
.login-button{
position: absolute;
width: 200px;
height: 70px;
left: 850px;
top: 580px;
outline: none;
border:none;
background-color:  #DA9355;
font-family: Inter;
font-style: normal;
font-weight: 100;
font-size: 30px;
line-height: 36px;
color: #FFFFFF;
cursor: pointer;
}
.admin{
position: absolute;
transform: rotate(0deg);
height: 100vh;
right: 0px;
}
.warning{
  position: absolute;
width: 250px;
height: 70px;
left: 640px;
top: 500px;
font-family: Inter;
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 36px;
color: red;
display: none;
}